.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.booksContainer{
  display: flex;
  flex-direction: row;
}

.book {
  margin: 10px;
  background-color: lightgray;
  border: 1px solid darkgray;
  min-height: 100px;
  padding:10px;
}

.active {
  background-color: darkkhaki;
  border: 1px solid black
}

.tasksContainer{
  padding: 10px;
  background-color: #e4e4e4;
}

.task{
  background-color: lightskyblue;
  padding: 10px;
  margin: 0 5px 0 5px;
}