.container {
  height: 100%;
  width: 100%;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  padding: 30px;
}
.sidenav{
  width:25%;
}
.kuVuOd{
  margin: 5px !important;
}
.iREZLX{
  width: auto !important;
}
.sc-fznXWL.variant-normal > .iREZLX:hover, .sc-fznXWL.variant-normal > .iREZLX:focus{
  background-color: gray !important;
}
.dataContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width:100%;
}
.bookHeading{
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.booksContainer{
  display: flex;
  flex-direction: row;
}

.book {
  margin: 10px;
  background-color: lightgray;
  border: 1px solid darkgray;
  min-height: 100px;
  padding:10px;
}

.active {
  background-color: darkkhaki;
  border: 1px solid black
}

.tasksContainer{
  padding: 10px;
  background-color: #e4e4e4;
}

.task{
  background-color: lightskyblue;
  padding: 10px;
  margin: 0 5px 0 5px;
}

.inputStyle{
  margin: 10px;
  padding : 10px;
}